body{ background-color: antiquewhite;}


main
{

    width: 315px;
    border: 1px solid black;
    margin: 100px auto;
    display: flex;
    align-items: center;
    
}

h1
{
    text-align: center;
}


button
{
    height: 100px;
    width: 100px;
    color: white;
    font-weight: rgb(249, 253, 224);
    
}

.section1
{
    background-color: black;
    align-items: center;
}